# Dependencies
node_modules/

# Build output
build/
dist/

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs and reporting files
*.log
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
